@import '_variables';

body,
html {
  @include size(100%);

  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: $main-font;
  color: $dark-grey;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.root {
  @include size(100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.root > div {
  @include size(100%);
}

.overlay__not-found {
  display: flex;
  position: fixed;
  left: 0;
  top: 1.5em;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  font-size: 3em;
}
